In [32]:
import pandas as pd
from sklearn import preprocessing
pd.set_option('max_colwidth', 1000)
df = pd.read_csv("/Users/lap01569/Desktop/danhhuynh/demo-kd/zomato1.csv",encoding='latin-1')
df.head(5)

,Restaurant Name,City,Address,Longitude,Latitude,Rating text
0,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City",121.027535,14.565443,Excellent
1,Izakaya Kikufuji,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City",121.014101,14.553708,Excellent
2,Heat - Edsa Shangri-La,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City",121.056831,14.581404,Very Good
3,Ooma,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,Excellent
4,Sambo Kojin,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,Excellent

In [33]:
leCity = preprocessing.LabelEncoder()
leCity.fit(df["City"])
labelCity = list(leCity.classes_)
df["City"] = leCity.transform(df["City"])

leRating = preprocessing.LabelEncoder()
leRating.fit(df["Rating text"])
labelRating =list(leRating.classes_)
df["Rating text"] = leRating.transform(df["Rating text"])

In [34]:
df.head(5)

,Restaurant Name,City,Address,Longitude,Latitude,Rating text
0,Le Petit Souffle,60,"Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City",121.027535,14.565443,1
1,Izakaya Kikufuji,60,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City",121.014101,14.553708,1
2,Heat - Edsa Shangri-La,61,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City",121.056831,14.581404,5
3,Ooma,61,"Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,1
4,Sambo Kojin,61,"Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,1

In [35]:
df.to_csv("encoded.csv")

In [36]:
from sklearn.neighbors import KDTree
import numpy as np
X = pd.read_csv("./encoded.csv")
data = pd.read_csv("./zomato1.csv",encoding="latin1")
X.drop('Restaurant Name', inplace=True, axis=1)
X.drop('Address', inplace=True, axis=1)
X.drop('Unnamed: 0',inplace=True,axis=1)
X.drop('City',inplace=True,axis=1)
X.drop('Rating text',inplace=True,axis=1)
print(X.columns.tolist())

['Longitude', 'Latitude']

In [37]:
tree = KDTree(X)

In [41]:
def find(x,y)->list:
  # rating = leRating.transform([rating])
  # city = leCity.transform([city])
  require = [[x,y]]
  # print(require)
  dist, ind = tree.query(require, k=3)
  return ind

In [39]:
print(labelCity)
print(labelRating)

['Abu Dhabi', 'Agra', 'Ahmedabad', 'Albany', 'Allahabad', 'Amritsar', 'Armidale', 'Athens', 'Augusta', 'Aurangabad', 'Balingup', 'Bangalore', 'Beechworth', 'Bhopal', 'Bhubaneshwar', 'Boise', 'Brasí_lia', 'Cedar Rapids/Iowa City', 'Chandigarh', 'Chatham-Kent', 'Chennai', 'Clatskanie', 'Cochrane', 'Coimbatore', 'Columbus', 'Consort', 'Dalton', 'Davenport', 'Dehradun', 'Des Moines', 'Dicky Beach', 'Dubai', 'Dubuque', 'East Ballina', 'Faridabad', 'Fernley', 'Flaxton', 'Forrest', 'Gainesville', 'Ghaziabad', 'Goa', 'Gurgaon', 'Guwahati', 'Hepburn Springs', 'Huskisson', 'Hyderabad', 'Indore', 'Inverloch', 'Jaipur', 'Kanpur', 'Kochi', 'Kolkata', 'Lakes Entrance', 'Lakeview', 'Lincoln', 'Lorn', 'Lucknow', 'Ludhiana', 'Macedon', 'Macon', 'Makati City', 'Mandaluyong City', 'Mangalore', 'Mayfield', 'Mc Millan', 'Middleton Beach', 'Miller', 'Mohali', 'Monroe', 'Montville', 'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Ojo Caliente', 'Orlando', 'Palm Cove', 'Pasay City', 'Pasig City', 'Paynesville', 'Penola', 'Pensacola', 'Phillip Island', 'Pocatello', 'Potrero', 'Princeton', 'Quezon City', 'Rest of Hawaii', 'Rio de Janeiro', 'San Juan City', 'Santa Rosa', 'Savannah', 'Sharjah', 'Singapore', 'Sioux City', 'Sí£o Paulo', 'Tagaytay City', 'Taguig City', 'Tampa Bay', 'Tanunda', 'Trentham East', 'Valdosta', 'Vernonia', 'Victor Harbor', 'Vineland Station', 'Waterloo', 'Weirton', 'Winchester Bay', 'Yorkton']
['Average', 'Excellent', 'Good', 'Not rated', 'Poor', 'Very Good']

In [42]:
indicate = find(100,100)
for i in indicate:
  print(data.iloc[i]["City"])
  print(data.iloc[i]["Address"])

691    Amritsar
694    Amritsar
685    Amritsar
Name: City, dtype: object
691           108, GRD Towers, District Shopping Center, Ranjit Avenue, Amritsar
694        Opposite M.K Hotel, District Shopping Centre, Ranjit Avenue, Amritsar
685    Shop 3, Opposite Nari Nikaten, Majithia Road, Near Basant Nagar, Amritsar
Name: Address, dtype: object